@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --radius: 0.5rem;
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  html {
    color-scheme: light dark;

    &:not(.dark *) {
      body {
        --background: #ffffff;
        --foreground: #171717;
      }
    }

    &.dark {
      body {
        --background: #0a0a0a;
        --foreground: #ededed;
      }
    }

    body {
      color: var(--foreground);
      background: var(--background);
      transition: background 0.3s ease, color 0.3s ease;
      scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      /* border-radius: 10px; */
      @apply bg-gray-300;
    }

    &.dark::-webkit-scrollbar-track {
      @apply bg-white;
    }


    ::-webkit-scrollbar-thumb{
      /* border-radius: 10px; */
      /* background: rgba(0,0,0,0.2); */
      @apply bg-primary;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: rgba(0,0,0,0.4);
    }
    ::-webkit-scrollbar-thumb:active{
      background: rgba(0,0,0,.9);
    }
  }
}
